
<!DOCTYPE HTML>
<html>

<head>
{%load static%}
  <script type="text/javascript" src="{%static 'streamer\js\user.js'%}"> </script>
  <link rel="stylesheet" type="text/css" href="{%static 'streamer\css\uploads.css'%}"></link>
  <title>InfoDump|Uploads</title>
</head>
<body>

<div id="top">

  <h1> Uploads</h1>
  <p>Complete the form to upload files</p>
  <form method = 'POST' action =# enctype="multipart/form-data"> {%csrf_token%}
  <table>
  {{form.as_table}}
</table>
    <input type='submit' class = 'myButton' value = 'upload'>
  </form>
  <form id='log_out_form' action='.' method='post'>{%csrf_token%}
    <input class='log_out' type='submit' name='log_out_request' value='log_out'></input>
  </form>
</div>

<div id = 'show_files'>
  {% for afile in files %}
<table>
  <td>
<iframe onmouseover="show_del_button('delete_{{afile}}')"
        onmouseout="hide_del_button('delete_{{afile}}')"
        src="http://docs.google.com/gview?url=http://infodump.pythonanywhere.com{{afile}}&embedded=true">
</iframe>

<form action = '.' method="post">{%csrf_token%}
  <input class='delete_button' type='image' value='delete' id= 'delete_{{afile}}'></input>
  <input type="hidden" name="delete_file" value="{{afile}}"></input>
</form>
  </td>
</table>
  {%endfor%}
</div>


</body>
</html>
